* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.card-img-top {
  height: 158px;
  /* width: 450px; */
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}
.card-img-top:hover {
  opacity: 0.8;
}

#header {
  background: fixed;
 

}

/* Everything is a child of this node, so set its height to take up the full page or more, then set some padding at the bottom so your footer can slip into the gap. */
#root {
  position: relative;
  height: 100%;
  background-image: 'linear-gradient(white, black)';
  
}

/* .card {
  box-shadow: 5px 10px 8px #888888;
    border: 2px solid black;
    margin: 10px;

} */
i {
  margin: 10px;
  color: black;

}
i:hover {
  color: blue;
}

a:link {
  text-decoration: none;
  color: black;
}

.main {
  text-align: center;
  position: relative;
  padding-bottom: 40px;  
  min-height: 100vh;
  font-family: 'Vesper Libre', serif;
  /* font-family: 'Oswald', sans-serif; */
  font-weight:600;
  font-size: large;
  padding-bottom: 10%;
}

/* Now set the height of your Footer equal to the padding that you left for it in your #root.  To make it stay at the bottom, you will set it to be absolutely positioned.  If Main grows larger, your Footer will move down to remain at the bottom of the page. */ 
.footer {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

a {
  /* text-decoration: wavy; */
}